<!--Header section  -->
    <section class="for-full-back " id="Parallax-main">
        <div class="container" id="home">
            <div class="row text-center">
                <div class="col-md-12">
                    <h1 class="head-main">KUMBH MELA</h1>
                    <h2 class="head-sub-main">The (Meta)Database</h2>
                    <a class="btn btn-danger btn-lg " href="#howto">Description & How To</a>
                    <a class="btn btn-danger btn-lg " href="#tables">Data Overiew</a>
                    <a class="btn btn-danger btn-lg " href="/drive/new/">New Drive</a>
                    <a class="btn btn-danger btn-lg " href="/sensor/new/">New Sensor</a>
                    <a class="btn btn-danger btn-lg " href="/admin">Admin</a>
                    <div class="head-last"></div>
                </div>
            </div>
        </div>
    </section>
    <!--End Header section  -->